In [1]:
import pandas as pd
import numpy as np

In [5]:
pwd

'C:\\Users\\User\\OneDrive - Engenuity (Pvt) Ltd\\Github\\SPE-testing'

In [6]:
cd utils

C:\Users\User\OneDrive - Engenuity (Pvt) Ltd\Github\SPE-testing\utils

In [7]:
pd.read_csv("../Data/Math_Est_Data.csv")

,Species - Scientific name,Species - Common name,Age,DBH,Height,Location,Source,Allometric equation
0,Hevea brasiliensis,Rubber,1,2.273,1.917,South Thailand,https://www.researchgate.net/publication/34120...,NaN
1,Hevea brasiliensis,Rubber,2,4.618,3.515,NaN,NaN,NaN
2,Hevea brasiliensis,Rubber,3,7.012,4.936,NaN,NaN,NaN
3,Hevea brasiliensis,Rubber,4,9.442,6.238,NaN,NaN,NaN
4,Hevea brasiliensis,Rubber,5,11.902,7.453,NaN,NaN,NaN
5,Hevea brasiliensis,Rubber,6,14.387,8.599,NaN,NaN,NaN
6,Hevea brasiliensis,Rubber,7,15.320,9.216,NaN,NaN,NaN
7,Hevea brasiliensis,Rubber,8,16.193,9.793,NaN,NaN,NaN
8,Hevea brasiliensis,Rubber,9,17.016,10.337,NaN,NaN,NaN
9,Hevea brasiliensis,Rubber,10,17.796,10.853,NaN,NaN,NaN
10,Hevea brasiliensis,Rubber,11,18.539,11.345,NaN,NaN,NaN
11,Hevea brasiliensis,Rubber,12,19.249,11.815,NaN,NaN,NaN
12,Hevea brasiliensis,Rubber,13,19.931,12.266,NaN,NaN,NaN
13,Hevea brasiliensis,Rubber,14,20.587,12.700,NaN,NaN,NaN
14,Hevea brasiliensis,Rubber,15,21.220,13.119,NaN,NaN,NaN
15,Hevea brasiliensis,Rubber,16,21.833,13.525,NaN,NaN,NaN
16,Hevea brasiliensis,Rubber,17,22.427,13.918,NaN,NaN,NaN
17,Hevea brasiliensis,Rubber,18,23.003,14.300,NaN,NaN,NaN
18,Hevea brasiliensis,Rubber,19,23.563,14.671,NaN,NaN,NaN
19,Hevea brasiliensis,Rubber,20,24.109,15.032,NaN,NaN,NaN
20,Hevea brasiliensis,Rubber,21,24.641,15.384,NaN,NaN,NaN
21,Hevea brasiliensis,Rubber,22,25.160,15.728,NaN,NaN,NaN
22,Hevea brasiliensis,Rubber,23,25.667,16.064,NaN,NaN,NaN
23,Hevea brasiliensis,Rubber,24,26.163,16.393,NaN,NaN,NaN
24,Borassus flabellifer,Palmyrah,1,21.000,35.000,NaN,NaN,NaN
25,Borassus flabellifer,Palmyrah,2,22.000,37.000,NaN,NaN,NaN
26,Borassus flabellifer,Palmyrah,3,23.000,39.000,NaN,NaN,NaN
27,Borassus flabellifer,Palmyrah,4,24.000,41.500,NaN,NaN,NaN
28,Borassus flabellifer,Palmyrah,5,25.000,45.000,NaN,NaN,NaN
29,Borassus flabellifer,Palmyrah,6,26.000,47.800,NaN,NaN,NaN
30,Borassus flabellifer,Palmyrah,7,27.000,53.000,NaN,NaN,NaN
31,Borassus flabellifer,Palmyrah,8,28.000,59.200,NaN,NaN,NaN
32,Borassus flabellifer,Palmyrah,9,28.800,66.000,NaN,NaN,NaN
33,Borassus flabellifer,Palmyrah,10,29.400,74.300,NaN,NaN,NaN